package ${packageName}.dao.${prefix};

import com.outpatient.appointment.infrastructure.mybatis.tk.MyBatisMapper;
import ${packageName}.domain.${prefix}.${tableName};

import java.util.List;

public interface ${tableName}Mapper extends MyBatisMapper<${tableName}> {

    List<${tableName}> get${tableName}List(@Param("keyword") String keyword);
}