<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixin.core.mapper.UserMapper">

    <update id="updateById">
        update t_user
        <set>
            name=#{name}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

</mapper>